:root {
    --black: #3D3C3C;
    --gold:  #F5BB27;
    --grey:#B9B9B9;
    --second-gold:#C6AE7A;
}

html {
    font-size: 62.5%;
    font-family: 'montserratregular';
}

.desktop {
    display:none;
}

ul li {
    list-style: none;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body, p, li, a {
    font-family: 'montserratregular';
    font-size: 1.6rem;    
    font-weight: normal;
}

h1, h2 {
    font-family: 'montserratbold';
    font-size: 3.6rem;
}

.container {
    margin: 0 auto;
}

.textcenter {
    text-align: center;
}

.textright {
    text-align: right;
}

.floatright {
    float: right;
}

.clear {
    clear: both;
}

header {
    background-color: var(--black);
    color:var(--second-gold);
    font-size:1.5rem;
    padding: 15px 0;
}

header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .sides {
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
}

header .tollfree {
    font-family: 'montserratbold';
    text-align: right;
    flex-direction: row;
}

header .logo-img {
    margin: 20px 0;    
    text-align: center;
    width: 90%;
}

main .titles {
    text-align: center;
    padding: 50px 15px;
    line-height: 5rem;
    background-color: #F1F1F1;
}

main .titles p {
    font-size: 1.8rem;
}

.best-deal-container {
    background-color: #FFFBF4;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 1px 4px 2px 0px #707070;
    padding: 20px;
    margin: 50px 20px;;
}

.best-deal-container .info-here, .modal-content button, .modal-content input[type="submit"] {
    border-top: 1px solid #707070;
    margin-top: 20px;
    padding-top: 30px;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'montserratbold';
}

.best-deal-container .info-here  button,  .cta button {
    border: 0;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    background-color: black;
    padding: 10px 15px;
    font-family: 'montserratmedium';
    margin: 0 15px;
    font-size: 1.8rem;
}

.services-plus {
    text-align: center;
}

.services-plus .plus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

.services-plus .plus>div {
    width: 85%;
}

.services-plus .plus > div span {
    background-color: #ededed;
    border-radius: 50%;
    display: grid;
    width: 165px;
    height: 165px;
    margin: 0 auto 25px;
    justify-content: center;
    align-items: center;
}

.services-plus p {
    font-size: 1.5rem;
    padding: 10px 0;
}


.services { 
    text-align: center; 
    background-color: #fafafa; 
    padding: 50px 0;     
    position: relative;
    margin-top: 120px;
}

.services .services-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -135px auto 0;
}
.services .services-container>div {
    width: 90%;
    margin: 0 auto;
}

.services .services-container>div img {
    margin: 0 0 20px 0;
}

.services h4 {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'montserratbold';
    justify-content: space-evenly;
    text-align: left;
}

.services p {
    font-family: 'montserratregular';
    font-size: 1.2rem; 
    line-height: 2.2rem;
    text-align: left;
    padding: 15px 0;
}


.reviews {
    margin: 50px auto;
    padding: 0 15px;
}

.review {
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.review>div:first-child {
    margin: 0 20px 0 0;
}

.review p {
    font-size: 1.5rem;
    padding-bottom: 10px;
    text-align: left;
}



section.cta {
    border-top: 2px solid #f5f5f5;
    margin: 50px auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cta div:first-child, .cta div.imgcta {
    width: 90%;
    margin: 10px auto;
}

.cta p {
    padding: 20px 0;
    line-height: 2.5rem;
    font-family: 'montserratbold';
}

.cta button {
    margin: 0 ;
}


.faqs {
    background-color: #2E2E2E;
    padding: 50px;
}

.faqs h2 {
    color:#F6F6F6;
}

.faqs a {
    text-decoration: none;
    color:#F6F6F6;
    font-size: 1.8rem;
    font-family: 'montserratbold';
    padding: 20px 0;
    display: block;
}

.faqs a::before {
    content: '•';
    margin: 0 10px 0 0;
}

.faqs div {
    font-family: 'montserratregular';
    font-size: 1.4rem;   
    color:#F6F6F6;
    line-height: 2.5rem;
}


footer {
    background-color: var(--black);
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
    font-size: 1.8rem;
    font-family: 'montserratbold';
    color: var(--second-gold);
}

/* Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 25px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    font-family: 'montserratregular';
    font-size: 1.5rem;
  }
 
  .modal-content p {
    font-family: 'montserratregular';
    font-size: 1.5rem;
    padding: 15px 0;
  }
  .modal-content h2 {
      font-family: 'montserratbold';
      font-size: 4.6rem;
      margin: 25px 0 15px;
  }

  .modal-content form label {
    font-family: 'montserratbold';
    font-size: 1.8rem;
    display: block;
    margin: 10px 0 10px 0;
  }

  .modal-content fieldset {
      border: 0;
  }

  .modal-content fieldset.radio-options {
    display: flex;
    align-items: center;
}

  .modal-content input {
      border:0;
      background-color: #f1f1f1;
      border-radius: 6px;
      padding: 10px;
      width: 80%;
  }

  .modal-content input[type="radio"] {
    width: initial;
    margin:0 5px 0 0
}

.modal-content button, .modal-content input[type="submit"] {
    background-color: black;
    border:0;
    color: #fff;
    margin: 15px auto 0;
    padding: 10px;
    display: block;
    width: 40%;
}

.modal-content form div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }