:root {
    --black: #3D3C3C;
    --gold:  #F5BB27;
    --grey:#B9B9B9;
    --second-gold:#C6AE7A;
}

html {
    font-size: 62.5%;
    font-family: 'montserratregular';
}

.desktop {
    display:none;
}

ul li {
    list-style: none;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body, p, li, a {
    font-family: 'montserratregular';
    font-size: 1.6rem;    
    font-weight: normal;
}

h1, h2 {
    font-family: 'montserratbold';
    font-size: 3.6rem;
}

.container {
    margin: 0 auto;
}


.textright {
    text-align: right;
}

.desktop {
    display: none!important;
}

header {
    background-color: var(--black);
    color:var(--second-gold);
    font-size:1.5rem;
    padding: 15px 0;
}

header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .logo-img {
    margin: 10px 0;    
    text-align: center;
    width: 80%;
}

main .titles {
    text-align: left;
    padding: 50px 25px 150px;
    line-height: 5rem;
    background-color: #F1F1F1;
}

.best-deal-container {
    background-color: #FFFBF4;
    border: 0;
    border-radius: 20px;
    box-shadow: 1px 4px 2px 0px #707070;
    padding: 20px;
    margin: 50px 20px;
}

.best-deal-container.firstdeal {
    margin: -100px 20px;
}

 .ribbon {padding-left:30px}  
.ribbon-background {position: absolute; top: 0; right: 0; font-size:8px; color: #cccccc; }  
.ribbon-background a {color: #cccccc; text-decoration:none; font-weight:normal; }  
.ribbon-background a:hover {color: #cccccc; text-decoration:none; font-weight:normal; }  
.theribbon{position: relative;width: 215px;font-size: 1.2em; text-transform: uppercase; font-family: 'montserratbold';padding: 6px 20px 6px 45px;margin: 15px 10px 10px -71px;color: #ffffff;background-color: var(--black);-webkit-box-shadow: 0px 2px 4px #888;-moz-box-shadow: 0px 2px 4px #888;box-shadow: 0px 2px 4px #888;}  
.theribbon:before, .theribbon:after {content: ' ';position: absolute;width: 0;height: 0;}  
.theribbon:after{left: 0px;top: 100%;border-width: 5px 10px;border-style: solid;border-color: #666666 #666666 transparent transparent;}  

/* Style the tab */
.best-deal-container .tab {
    overflow: hidden;
  }
  
  .best-deal-container .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    padding: 10px 15px;
    background-color: var(--grey);
    border-radius: 6px;
    font-family: 'montserratbold';
    font-size: 1.5rem;
    margin: 15px 15px 20px 0;
  }
  
  .best-deal-container .tabcontent-wrapper {
    display: none;
    font-size: 1.5rem;
  }

  .best-deal-container .tabcontent-wrapper h3 {
      margin-bottom: 20px;
  }

  .best-deal-container .tabcontent-wrapper ul {
  margin: 15px 20px 0;
  }

  .best-deal-container .tabcontent-wrapper ul li {
    margin: 0 0 15px 0;
    list-style-type: disc;
   }

  .best-deal-container .tabcontent-wrapper#Phase1, .best-deal-container .tabcontent-wrapper#Phase3  {
      display: block;
  }

  .best-deal-container .tab button.active    {
    background-color: var(--gold);
    color: white;
    padding: 10px 15px;
  }

  .best-deal-container h4,.terms_deal  {
    color:#757575;
    font-size: 1.8rem;
    font-family: 'montserratbold';
    padding: 15px 0;
    width: 65%;
  }

  .terms_deal {
      font-size: 1.5rem;
  }

  .best-deal-container .price  {
    color:var(--black);
    font-size: 1.8rem;
    font-family: 'montserratbold';
    border-top:2px solid #757575;
    padding: 15px 0 0 0;
    width: 65%;
  }

.best-deal-container .info-here, .modal-content button, .modal-content input[type="submit"] {
    border-top: 1px solid #707070;
    margin-top: 20px;
    padding-top: 30px;
    text-align: center;
    font-size: 1.8rem;
    font-family: 'montserratbold';
}

.best-deal-container .info-here {
    display: flex;
    flex-direction: column;
}

.best-deal-container .info-here button {
    margin: 20px auto 0!important;
    width: 70%;
}


.best-deal-container .info-here  button,  .cta button {
    border: 0;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    background-color: black;
    padding: 10px 15px;
    font-family: 'montserratmedium';
    margin: 0 15px;
    font-size: 1.8rem;
}

.services-plus {
    text-align: center;
    margin-top: 160px;
}

.services-plus .plus {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}


.services-plus .plus>div {
    width: 70%;
    line-height: 2rem;
}

.services-plus .plus > div span {
    background-color: #ededed;
    border-radius: 50%;
    display: grid;
    width: 150px;
    height: 150px;
    margin: 20px auto 25px;
    justify-content: center;
    align-items: center;
}

.services-plus .plus > div span object {
    width: 70px;
    height: 70px;
}

.services-plus p {
    font-size: 1.5rem;
    padding: 10px 0;
}


.services { 
    text-align: center; 
    background-color: #fafafa; 
    padding: 50px 0;     
    position: relative;
    margin-top: 120px;
}

.services .services-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -135px auto 0;
}
.services .services-container>div {
    width: 75%;
    margin: 0 auto;
}

.services .services-container>div img {
    margin: 0 0 20px 0;
}

h2.services-title {
    padding: 0 30px;
    text-align: left;
}

.services h4 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: 'montserratbold';
    justify-content: space-evenly;
    text-align: left;
    line-height: 3rem;
}

.services p {
    font-family: 'montserratregular';
    font-size: 1.2rem; 
    line-height: 2.2rem;
    text-align: left;
    padding: 15px 0;
}


.reviews {
    margin: 50px auto;
    padding: 0 30px;
}

.review {
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 85%;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

.review>div:first-child {
    margin: 0 20px 0 0;
}

.review p {
    font-size: 1.5rem;
    padding-bottom: 10px;
    text-align: left;
    line-height: 2.2rem;
}

.review p.name-review {
    display: grid;
    padding: 15px 0;
}


section.cta {
    border-top: 2px solid #f5f5f5;
    margin: 50px auto;
    padding: 50px 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
}

.cta div:first-child, .cta div.imgcta {
    width: 90%;
    margin: 10px auto;
}

.cta p {
    padding: 20px 0;
    line-height: 2.5rem;
    font-family: 'montserratbold';
}

.cta button {
    width: 90%;
}


.faqs {
    background-color: #2E2E2E;
    padding: 50px 30px;
}

.faqs h2 {
    color:#F6F6F6;
    line-height: 4rem;
}

.faqs .question {
    border-bottom: 1px solid #f6f6f6;
}

.faqs button {
    text-align: left;
    color: #F6F6F6;
    font-size: 1.8rem;
    font-family: 'montserratbold';
    padding: 20px 0;
    display: block;
    background: none;
    border: none;    
    cursor: pointer;
}

.faqs button::before {
    content: '•';
    margin: 0 10px 0 0;
}

.faqs .accordion {
    transition: 0.4s;
    width: 100%;
}

.faqs div {
    font-family: 'montserratregular';
    font-size: 1.4rem;   
    color:#F6F6F6;
    line-height: 2.5rem;
}

.faqs .panel {
    padding: 0 0 15px;
    display: none;
    overflow: hidden;
  }


footer {
    background-color: var(--black);
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer .logo-footer {
    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'montserratbold';
    color: var(--second-gold);
}

#emailOK {
    font-size: 1rem;
    color: var(--second-gold);
}

/* Modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 25px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    font-family: 'montserratregular';
    font-size: 1.5rem;
  }
 
  .modal-content p {
    font-family: 'montserratregular';
    font-size: 1.5rem;
    padding: 15px 0;
  }
  .modal-content h2 {
      font-family: 'montserratbold';
      font-size: 4.6rem;
      margin: 25px 0 15px;
  }

  .modal-content form label {
    font-family: 'montserratbold';
    font-size: 1.8rem;
    display: block;
    margin: 10px 0 10px 0;
  }

  .modal-content fieldset {
      border: 0;
  }

  .modal-content fieldset.radio-options {
    display: flex;
    align-items: center;
}

  .modal-content input {
      border:0;
      background-color: #f1f1f1;
      border-radius: 6px;
      padding: 10px;
      width: 80%;
  }

  .modal-content input[type="radio"] {
    width: initial;
    margin:0 5px 0 0
}

.modal-content button, .modal-content input[type="submit"] {
    background-color: black;
    border:0;
    color: #fff;
    margin: 15px auto 0;
    padding: 10px;
    display: block;
    width: 40%;
}

.modal-content form div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }